/* .new{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-items: center;
    row-gap: 26px;
    column-gap: 10px;
}
.hom{
    display: grid;
    grid-template-columns: 1fr 2fr;

} */
