/* .courses{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 24px;
    } */
    .course-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }
    .AllCourses{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        row-gap: 15px;
        align-items: center;
        justify-items: center;
    }
    
    @media only screen and (max-width: 688px) {
        .AllCourses{
            display: block;

        }
        .course-container{
            display: block;
        }
    }